.forDesktop{
    display: block !important;
    @include respond(down-tab-port){
        display: none !important;
    }
}

.forDesktop-dflex{
    display: flex !important;
    @include respond(down-tab-port){
        display: none !important;
    }
}

.forMobile{
    display: none !important;
    @include respond(down-tab-port){
        display: block !important;
    }
}

.forMobile-dflex{
    display: none !important;
    @include respond(down-tab-port){
        display: flex !important;
    }
}


/* hamburger menu */

#menu-hamburger {
    width: 30px;
    height: 37px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20;
}

#menu-hamburger span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.bg_white{
    background-color: white;
}

#menu-hamburger span:nth-child(1) {
    top: 10px;
}

#menu-hamburger span:nth-child(2) {
    width: 100%;
}

#menu-hamburger span:nth-child(4) {
    width: 100%;
}

#menu-hamburger span:nth-child(2),#menu-hamburger span:nth-child(3) {
    top: 18px;
}

#menu-hamburger span:nth-child(3) {
    display: none;
}

#menu-hamburger span:nth-child(4){
    top: 26px;
}

#menu-hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#menu-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
}

#menu-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
}

#menu-hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    display: none;
}

// button
.btn-njm-red{
    background-color: $color_red;
    font-family: "JosefinSans-SemiBold";
    color: white;
    width: 200px;
    padding: 1.4rem 0;
    border-radius: 30px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover{
        color: white;
    }
}

.btn-njm-yellow{
    background-color: $color_yellow;
    font-family: "JosefinSans-SemiBold";
    color: white;
    width: 200px;
    padding: 1.4rem 0;
    border-radius: 30px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover{
        color: white;
    }
}

.btn-njm-white{
    background-color: white;
    font-family: "JosefinSans-SemiBold";
    color: $color_red;
    width: 200px;
    padding: 1.4rem 0;
    border-radius: 30px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover{
        color: white;
    }
}

.text-red{
    color: $color_red;
}

.bg-yellow{
    background-color: $color_yellow;
}

.slider-eco-top-wrapper{
    // padding: 0 4rem;
    position: relative;
    .arrow-left{
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        color: white;
        font-size: 4rem;
        cursor: pointer;
        z-index: 99;
    }

    .arrow-right{
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        color: white;
        font-size: 4rem;
        cursor: pointer;
        z-index: 99;
    }
}

.menu__mobile{
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    transition: 0.5s all;
    padding: 8rem 4rem;
    overflow: auto;
    &.open{
        left: 0;
    }
    .ul_menu{
        padding: 0;
        .fs-big{
            font-size: 2.2rem;
            font-family: "JosefinSans-Regular";
        }
        &>li{
            list-style: none;
            margin-bottom: 1rem;
            border: none;
            color: $color_red;
            font-size: 1.6rem;
            .search{
                background-color: transparent;
                border: none;
                outline: none;
                box-shadow: none;
                border-bottom: 1px solid $color_red;
                width: 100%;
                margin-bottom: 4rem;
                font-size: 1.6rem;
            }
            a{
                color: $color_red;
                font-size: 1.6rem;
                text-decoration: none;
                font-family: "JosefinSans-Regular";
            }
            span{
                margin-bottom: 1.5rem;
                display: block;
            }
        }
        .ul_submenu{
            padding: 0;
            margin-bottom: 4rem;
            display: none;
            &.open{
                display: block;
            }
            li{
                list-style: none;
                margin-bottom: 1.4rem;
                strong{
                    margin-bottom: 1.6rem;
                    display: block;
                }
            }
        }
    }
}