menu{
    position: relative;
    z-index: 7;
    padding: 3.5rem 4rem;
    .logo{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            width: 94px;
            object-fit: contain;
            @include respond(down-tab-port){
                width: 76px;
            }
        }
    }
    .logo2{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include respond(down-tab-port){
            margin-right: 3rem;
        }
        img{
            width: 140px;
            object-fit: contain;
            @include respond(down-tab-port){
                width: 114px;
            }
        }
    }
    .m-mobile{
        @include respond(down-tab-port){
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .menu__wrapper{
        &-top{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul{
                text-align: end;
                margin-bottom: 1rem;
                margin-right: 10rem;
                li{
                    list-style: none;

                    select{
                        box-shadow: none;
                        border: none;
                        background-color: transparent;
                        color: white;
                        font-size: 1.4rem;
                        font-family: "JosefinSans-Regular";
                        &:focus{
                            border: none;
                        }
                        option{
                            color: white;
                            font-family: "JosefinSans-Regular";
                            background-color: black;
                        }
                    }
                }
            }
            img{
                margin-bottom: 1rem;
                object-fit: contain;
                cursor: pointer;
            }
        }
        &-bottom{
            position: relative;
            z-index: 8;
            border-top: 1px solid rgba(255, 255, 255, 0.678);
            ul{
                margin-bottom: 0;
                padding-left: 0;
                display: flex;
                justify-content: space-between;
                .li-item{
                    padding-top: 1.5rem;
                }
                li{
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    &.active{
                        border-top: 1px solid white;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: 1.4rem;
                        letter-spacing: 0;
                    }
                    strong{
                        font-weight: bold;
                        font-size: 1.2rem;
                        color: white;
                    }
                }
                .sub-init{
                    cursor: pointer;
                    &:hover{
                        .list_submenu{
                            display: flex;
                            flex-wrap: wrap;
                            width: 600px;
                        }
                        .menu__showcase{
                            top: calc(0px - 3.5rem);
                        }
                    }
                    .list_submenu{
                        display: none;
                        position: absolute;
                        left: 0%;
                        top: 0;
                        padding-top: 30px;
                        padding-left: 0;
                        margin-bottom: 0;
                        margin-top: 35px;
                        z-index: 7;
                        ul{
                            display: block;
                            &:nth-child(1){
                                margin-bottom: 4rem;
                            }
                            li{
                                display: block;
                                margin-bottom: 1rem;
                                width: 300px;
                                margin-bottom: 0.5rem;
                                &:first-child{
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu__showcase{
            width: calc(100% + 10rem);
            height: 450px;
            background-color: #721414;
            position: absolute;
            top: -800px;
            z-index: 6;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.5s all;
        }
    }
}